@model Peak.Discount.Model.PackProduct


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>PackProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PackId" class="control-label"></label>
                <select asp-for="PackId" class="form-control" asp-items="ViewBag.PackId"></select>
            </div>


            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select class="mdb-select md-form colorful-select dropdown-danger" asp-for="ProductId" asp-items="ViewBag.ProductId" multiple>
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<label class="mdb-main-label">Label example</label>
<button class="btn-save btn btn-danger btn-sm">Save</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}
